/* =============
    Base
============= */

ul{
    padding: 0;

    li{
        list-style: none;
    }
}

.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;
    @include lg{
        display: block;
    }
}

.show-for-sm{
    display: block;
    @include md{
        display: none;
    }
}

.link {
    text-align: center;
    a:link,
    a:visited{
        text-decoration: none;
        transition: 0.25s;
    }
}