/* =============
    Section 2
============= */
#section-2 {

    // margin: 60px;
    
    // margin: 60px 20px 100px;
    // margin: 60px 20px 60px 20px;


    // margin-top: 60px;
    // margin-right: 60px;
    // margin-bottom: 60px;
    // margin-left: 60px;

    display: grid;
    grid-template-areas: ". section-2 .";
    grid-template-columns: 15px auto 15px;

    @include xl {
        grid-template-columns: auto 800px auto;
    }

    #section-2-content {
        grid-area: section-2;

        p{
            text-align: justify;
        }

        #section-2-intro {
            @include md {
                display: grid;
                grid-template-areas: ". section-2-intro .";
                grid-template-columns: 15% auto 15%;
            }

            #section-2-intro-content {
                @include md {
                    grid-area: section-2-intro;
                }

                #section-2-hero{
                    // display: flex;
                    // justify-content: center;
                    >div{
                        height: 113px;
                        width: 113px;
                        background-image: url("../img/section-5/gallery-3.jpg");
                        border-radius: 100%;
                        background-position: 195px 250px;
                        margin: 0 auto;

                        @include lg{
                            height: 300px;
                            width: 300px;
                            background-size: 200%;
                        }
                    }
                }

                h1{
                    margin: 50px 0 30px;
                    color: $yellow;
                    text-align: center;
                    font-size: rem-calc(46);
                    line-height: rem-calc(46);

                    @include md{
                        margin: 34px 0 33px;
                    }

                    @include lg{
                        margin: 28px 0 36px;
                    }

                    span{
                        font-size: rem-calc(31);
                        display: block;
                    }
                }

                h3{

                }
            }
        }

        #section-2-middle{
            p{
                margin-top: 24px;

                @include md{
                    margin-top: 34px;
                }
            }
        }

        #section-2-date {
            margin-top: 35px;

            @include md {
                display: grid;
                grid-template-areas: ". section-2-date .";
                grid-template-columns: 10% auto 10%;
                margin-top: 88px;
            }

            @include lg{
                margin-top: 91px;
            }

            #section-2-date-content {
                @include md {
                    grid-area: section-2-date;
                }
            }
        }
    }
}