/* =============
    Section 8
============= */
#section-8{
    background-color: $dark;
    border: 1px $blue solid;

    h1{
        color: $white;
        text-align: center;
        margin-top: -20px;
        font-size: rem-calc(35);
        @include md{
            font-size: rem-calc(60);
            margin-top: -30px;
        }

        @include lg{
            font-size: rem-calc(76);
            margin-top: -40px;
        }
    }
}
