/* =============
    Section 2
============= */
#section-2{
    background-color: $dark;
    border: 1px $dark solid;
    padding-bottom: 100px;

    h1{
        color: $white;
        text-align: center;
        margin-top: -20px;
        font-size: rem-calc(35);
        @include md{
            font-size: rem-calc(60);
            margin-top: -30px;
        }

        @include lg{
            font-size: rem-calc(76);
            margin-top: -40px;
        }
    }

    #section-2-content{
        display: grid;
        grid-template-columns: 60px auto 60px;
        grid-template-areas: ". section-2-content .";

        @include lg{
            grid-template-columns: 130px auto 130px;
            grid-template-areas: ". section-2-content .";
    
        }

        @include xl{
            grid-template-columns: 330px auto 330px;
            grid-template-areas: ". section-2-content .";
        }

        ul {
            display: grid;
            gap: 50px;
            grid-area: section-2-content;
            padding-bottom: 40px;
            padding-top: 40px;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "d1"
                "d2";

                @include md {
                    display: grid;
                    grid-area: section-2-content;
                    gap: 60px;
                    grid-template-rows: repeat(1, 1fr);
                    grid-template-areas:
                        "d1 d2";
                }

                @include lg {
                    display: grid;
                    grid-area: section-2-content;
                    gap: 100px;
                    padding-bottom: 40px;
                }

                @include lg {
                    display: grid;
                    grid-area: section-2-content;
                    gap: 100px;
                    padding-bottom: 40px;
                }
    



            li{
                h3{
                    color: $white;
                    text-align: center;
                    font-size: rem-calc(25);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    @include md{
                        font-size: rem-calc(32);
                        padding-top: 30px;
                        padding-bottom: 30px;
                    }

                    @include lg{
                        font-size: rem-calc(40);
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }

                }

                p{
                    color: $white;
                    text-align: justify;
                    font-size: rem-calc(16);

                    @include md{
                        font-size: rem-calc(25);
                    }

                    @include lg{
                        font-size: rem-calc(30);
                    }
                }

                h2{
                    color: $red;
                    text-align: center;
                    font-size: rem-calc(25);
            
                    @include md{
                        font-size: rem-calc(35);
                    }
            
                    @include lg{
                        font-size: rem-calc(45);
                    }
                }
            

                #d1 {
                    grid-area: d1;
                }

                #d2 {
                    grid-area: d2;
                }
            }
        }   

    } 
    
    #section-2-link{
        // padding-bottom: 50px;

        a:link,
        a:visited {
            color: $red;
            text-decoration: none;
            transition: 0.25s;
            font-family: 'roboto', sans-serif;
            font-size: rem-calc(20);
            font-weight: 700;
        }

        a:hover,
        a:active {
            color: $white;
        }
    }


    // #cardi{
    //     background-image: url('../img/section-2/group 2.png');
    //     background-position: left;
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     height: 300px;
    //     margin-top: -60px;
    //     margin-left: -100px;
    // }
    // #travis{
    //     background-image: url('../img/section-2/TRAVIS1.png');
    //     background-position: right;
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     height: 300px;
    //     margin-top: -60px;
    //     margin-right: -100px;
    // }
} 