/* =============
    Section 5
============= */
#section-5{
    background-color: $blue;
    border: 1px $blue solid;
    padding-bottom: 50px;

    h1{
        color: $white;
        text-align: center;
        margin-top: -20px;
        font-size: rem-calc(35);
        @include md{
            font-size: rem-calc(60);
            margin-top: -30px;
        }

        @include lg{
            font-size: rem-calc(76);
            margin-top: -40px;
        }
    }

    // #video-link{
    //     a:link,
    //        a:visited{
    //         color: $red;
    //         text-decoration: none;
    //         transition: 0.25s;
    //         font-family: 'roboto', sans-serif;
    //         font-size: rem-calc(20);
    //         font-weight: 700;
    //     }
                
            
    //     a:hover,
    //      a:active {
    //         color: $white;
    //         } 
    // }

    #section-5-content{
        display: grid;
        grid-template-columns: 90px auto 90px;
        grid-template-areas: ". section-5-content .";

        @include md {
            grid-template-columns: 60px auto 60px;
            grid-template-areas: ". section-5-content .";
        }

        @include lg {
            grid-template-columns: 100px auto 100px;
            grid-template-areas: ". section-5-content .";
        }

        @include xl {
            grid-template-columns: auto 800px auto;
            grid-template-areas: ". section-5-content .";
        }

        ul{
            display: grid;
            grid-gap: 20px;
            grid-area: section-5-content;
            padding-bottom: 30px;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
                "g1"
                "g2"
                "g7"
                "g8";

                @include md{
                    display: grid;
                    grid-gap: 20px;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: 
                        "g1 g2 g3"
                        "g6 g7 g8";
                }

                @include lg{
                    display: grid;
                    grid-gap: 20px;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-areas: 
                        "g1 g2 g3 g4"
                        "g5 g6 g7 g8";
                }
    
            li{
                h3{
                    color: $white;
                    text-align: center;
                    font-size: rem-calc(16);
                } 
                img{
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
                text-align: center;
            }
    
            #g1{
                text-align: center;
                img{
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
                grid-area: g1;
            }
    
            #g2{
                text-align: center;
                img{
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
                grid-area: g2;
            }

            
            #g3{
                text-align: center;
                @include md{
                    grid-area: g3;
                }
            }

            #g4{
                @include lg{
                    grid-area: g4;
                } 
            }

            #g5{
                @include lg{
                    grid-area: g5;
                } 
            }

             
            #g6{
                @include md{
                    grid-area: g6;
                }
            }
    
            #g7{
                grid-area: g7;
            }
    
            #g8{
                grid-area: g8;
            }  

            // #link{
            //     margin-top: 15px;
            //     a:link,
            //         a:visited{
            //             color: $red;
            //             text-decoration: none;
            //             transition: 0.25s;
            //             font-family: 'roboto', sans-serif;
            //             font-size: rem-calc(20);
            //             font-weight: 700;
            //         }
                
            
            //         a:hover,
            //         a:active {
            //             color: $white;
            //         } 
            // }
    
        }
    }
    
}
