/* =============
    Section 5
============= */
#section-5 {
    display: grid;
    grid-template-areas: '. section-5 .';
    grid-template-columns: 15px auto 15px;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    ul {
        display: grid;
        gap: 20px;
        grid-area: section-5;
        grid-template-areas: "g7"
            "g1"
            "g1"
            "g6"
            "g3";
        grid-template-rows: repeat(5, 324px);

        @include md {
            // grid-template-columns: 50% auto;
            grid-template-areas: "g1 g3"
                "g1 g7"
                "g5 g6";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 277px);
        }

        @include lg {
            grid-template-areas: "g1 g2 g3"
                "g1 g7 g4"
                "g6 g5 g4";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 250px);
        }

        li {
            background-position: center;
            background-size: cover;
        }

        #g1 {
            background-image: url("../img/section-5/gallery-1.jpg");
            grid-area: g1;
        }

        #g2 {
            background-image: url("../img/section-5/gallery-2.jpg");

            @include lg {
                grid-area: g2;
            }
        }

        #g3 {
            background-image: url("../img/section-5/gallery-3.jpg");
            grid-area: g3;
        }

        #g4 {
            background-image: url("../img/section-5/gallery-4.jpg");

            @include lg {
                grid-area: g4;
            }
        }

        #g5 {
            background-image: url("../img/section-5/gallery-5.jpg");

            @include md {
                grid-area: g5;
            }
        }

        #g6 {
            background-image: url("../img/section-5/gallery-6.jpg");
            grid-area: g6;
        }

        #g7 {
            grid-area: g7;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                color: $yellow;
                font-family: 'Pacifico', cursive;
                font-size: rem-calc(43);
                font-weight: 400;
            }
        }
    }
}