/* =============
    Section 3
============= */

#section-3{
    background-color: $blue;
    border: 1px $blue solid;

    h1{
        color: $white;
        text-align: center;
        margin-top: -20px;
        font-size: rem-calc(35);
        @include md{
            font-size: rem-calc(60);
        }

        @include lg{
            font-size: rem-calc(76);
        }
    }

    #section-3-content{
        display: grid;
        grid-template-columns: 70px auto 70px;
        grid-template-areas: ". section-3-content .";

        ul {
            display: grid;
            gap: 30px;
            grid-area: section-3-content;
            padding-bottom: 40px;
            padding-top: 40px;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "t1"
                "t2"
                "t3";
        
            li{
                #t1 {
                    grid-area: t1;
                }

                #t2 {
                    grid-area: t2;
                }

                #t3 {
                    grid-area: t3;
                }
            }


        }  
        
    }

}