/* =============
    Section 6
============= */

#section-6{
    background-image: url('../img/section-6/bwgrain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 936px;
    @include md{
        height: 1000px
    }
    border: 1px $blue solid;




    #section-6-content{
        ul{
            display: grid;
            gap: 30px;
            grid-area: section-6-content;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "g1"
            "g2";

            @include lg{
                grid-template-rows: repeat(1, 1fr);
                grid-template-areas: 
                "g1" "g2";
            }
           
            #g1{
                background-image: url('../img/section-6/girl-red.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 400px;
                margin-top: 10px;
                margin-left: 80px;

                grid-area: g1;

                @include md{
                    height: 625px;
                    margin-left: 420px;
                    background-position: center;
                }

                @include lg{
                    height: 625px;
                    margin-left: 600px;
                    background-position: center;
                }

                @include xl{
                    height: 700px;
                    margin-left: 800px;
                    background-position: center;
                }
            }

            #g2{
                background-image: url('../img/section-6/HERO3-BLUE.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 350px;
                margin-right: 80px;

                grid-area: g2;

                @include md{
                    background-position: center;
                    height: 560px;
                    margin-right: 380px;
                    margin-top: -310px;
                }

                @include lg{
                    background-position: center;
                    height: 680px;
                    margin-right: 600px;
                    margin-top: -400px;
                }

                @include xl{
                    background-position: center;
                    height: 780px;
                    margin-right: 600px;
                    margin-top: -600px;
                }
            }
        }
    }
    
    



    h3{
        color: $white;
        text-align: left;
        font-size: rem-calc(25);
        font-style: italic;
        margin-top: -20px;
        margin-left: 20px; 
        margin-right: 20px;

            @include md{
            font-size: rem-calc(32);
            margin-left: 30px; 
            margin-right: 100px;
            }

            @include lg{
            font-size: rem-calc(40);
            margin-left: 35px; 
            margin-right: 200px;
            }

            @include xl{
                margin-left: 55px;
                margin-right: 400px;
            }
    }
}