/* =============
    Footer
============= */

footer{
    background-image: url('../img/footer/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    @include lg{
        height: 330px
    }
    @include xl{
        height: 465px
    }
}